<?xml version="1.0" encoding="utf-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
        id="org.irri.breeding4rice.cordova"
        version="0.7.0">

  <name>Study Extract</name>
 
  <engines>
    <engine name="cordova" version=">=3.4.0"/>
  </engines>

  <asset src="www/studyextract.js" target="js/studyextract.js"/>

  <js-module src="www/studyextract.js" name="studyextract">
    <clobbers target="studyextract" />
  </js-module>

  <platform name="android">

    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="StudyExtract">
        <param name="android-package" value="org.irri.breeding4rice.cordova.StudyExtract"/>
      </feature>
    </config-file>

    <source-file src="src/android/StudyExtract.java" target-dir="src/org/irri/breeding4rice/cordova/"/>

        <framework src="com.google.code.gson:2.8.0"/>
  </platform>

</plugin>